.selectionPanel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;   
  min-width: 20rem;
  max-width: calc(var(--column-unit) * var(--columns-count) * 2 - var(--column-unit));
  
  transition: all 0.2s;

  & > * {
    background-color: #ffffff05;
    padding: 1rem;
    border-radius: 20px;
    width: auto; 
    box-sizing: border-box;
    box-shadow: 0 0 8px #00000050;
  }
}