.selectionPanel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
  min-width: calc(var(--column-unit) * var(--columns-count) * 2 - var(--column-unit));
  max-width: 90%;
  animation: menuPop 0.35s cubic-bezier(0.34, 1.56, 0.64, 1) backwards;
  background: rgba(255, 255, 255, 0.00);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 0;
  pointer-events: auto;
  box-shadow: 0 0 8px #00000050;
  transition: all 0.2s;
  height: auto;

  @keyframes menuPop {
    from {
      opacity: 0;
      transform: scale(0.85) translateY(-10px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  & > * {
    background-color: #ffffff05;
    padding: 1rem;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 0 8px #00000050;
  }
}
