@use "@/shared/styles/theme" as *;

.header {
  position: relative;
  width: 100%;
  // height: 10vh; // ← явная высота = граница для sticky
  min-height: 10rem;
  z-index: 10;
  pointer-events: none;
  margin: 0;
  padding: 2rem 0;
  > * {
    pointer-events: auto;
  }
}

.logo {
  width: fit-content;
  position: relative;
  left: 50%;
  top: 0.5rem;
  transform: translate(-50%);

  @media (min-width: $breakpoint-768) {
    left: 1rem;
    top: 1rem;
    transform: translate(0);
  }
}
