@use "@/shared/styles/theme" as *;

.header {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 10rem;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.logo {
  position: relative;
  left: 0rem;
  top: 0rem;
}
