@use "@/shared/styles/theme" as *;

.header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  margin-top: 40px;
  padding-left: 20px;
}

.logo {
  filter: drop-shadow(0 0 2px #ffffff50);
  transition: filter 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);

  a {
    text-decoration: none;
    color: $color-green-be;
    transition: color 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
