@use "@/shared/styles/theme" as *;

.columnsContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -10;
  height: 100vh;
  height: -webkit-fill-available;
}

.columnsInner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  width: 35rem;
  position: relative;
  height: 100vh;
  height: -webkit-fill-available;

  @media (min-width: $breakpoint-768) {
    gap: 3rem;
    width: 21rem;
  }
}
