@use "@/shared/styles/variables" as *;
@use "@/shared/styles/theme" as *;

.columnsContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: 0;
  height: 100vh;
  height: 100dvh;
}

.columnsInner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--column-unit);
  width: calc(var(--column-unit) * var(--columns-count) * 2 - var(--column-unit));
  position: relative;
  height: 100vh;
  height: 100dvh;
}
