.columnsContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -10;
}

.columnsInner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 210px;
  gap: 30px;
}
