@use "@/shared/styles/variables" as *;
@use "@/shared/styles/theme" as *;

.bookingFlow {
  margin: 4.5rem 0 0 0;
  width: 100%;
  max-width: calc(
    var(--column-unit) * var(--columns-count) * 2 - var(--column-unit)
  );
  transition: all 0.2s;
}

.bookingButton {
  margin: 2rem 0 0 0; 
}