@use "@/shared/styles/theme" as *;

.logo a {
  text-decoration: none;
  color: $color-green-be;
  filter: drop-shadow(0 0 2px #ffffff30);
  transition: color 0.4s ease-in,
              filter 0.4s ease-in;

  &:hover {
    text-decoration: none;
  }
}

.color-calendar {
  color: $color-calendar-column-e0;
  filter: drop-shadow(0 0 2px #e0616130);
  transition: color 0.4s ease-in,
              filter 0.4s ease-in;
}

.color-map {
  color: $color-map-column-e1;
  filter: drop-shadow(0 0 2px #e1ffd830);
  transition: color 0.4s ease-in,
              filter 0.4s ease-in;
}

.color-gallery {
  color: $color-gallery-column-a4;
  filter: drop-shadow(0 0 2px #a4678c30);
  transition: color 0.4s ease-in,
              filter 0.4s ease-in;
}

.color-profile {
  color: $color-profile-column-b5;
  filter: drop-shadow(0 0 2px #b5b5b530);
  transition: color 0.4s ease-in,
              filter 0.4s ease-in;
}
