@use "variables" as *;
@use "theme" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media (min-width: $breakpoint-768) {
    font-size: 14px;
  }
}

body {
  --column-unit: #{$column-unit};
  --columns-count: #{$columns-count};
  min-height: 100%; // Убрали height: 100%
  line-height: 1.5;
  background: $background;
  color: $foreground;
  font-family:
    "Chiron",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  font-weight: 300;
  font-size: 1rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 600;
  line-height: 1.2;
  text-wrap: balance;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.6rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}

p,
ul,
ol {
  margin-bottom: 1.5rem;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

:focus-visible {
  outline: 2px solid $color-green-be;
  outline-offset: 2px;
  border-radius: 0.2rem;
}

:focus:not(:focus-visible) {
  outline: none;
}
