// Брейкпоинты
$breakpoint-320: 320px;
$breakpoint-480: 480px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1280: 1280px;
$breakpoint-1536: 1536px;

// Основные цвета
$color-green-be: #beff62;
$color-pink-d2: #d26666;
$color-green-33: #336916;
$color-orange-ff: #ffcb78;
$color-turquoise-63: #63b39c;

// Column colors
$color-profile-column-b5: #b5b5b5;
$color-profile-column-50: #50625c;
$color-gallery-column-a4: #a4678c;
$color-gallery-column-ffcb: #ffcb77;
$color-map-column-e1: #e1ffd8;
$color-map-column-6e: #6ea172;
$color-calendar-column-e0: #e06161;
$color-calendar-column-bd: #bd8b8b;
$color-main-column-c1: #c1ff5d;
$color-main-column-e3: #e3ff43;
$color-default-column-28: #282828;
$color-default-column-3c: #3c3c3c;
$color-for-each-column: #737373;
