@use "@/shared/styles/theme" as *;
@use "@/shared/styles/variables" as *;

.main {
  position: relative;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-items: start;
  justify-content: center;
  min-width: auto;
  width: 100%;
  gap: 1rem;
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-1024) {
    min-width: 7 * $column-unit;
    grid-template-columns: auto 7 * $column-unit auto;
    grid-template-rows: 1fr;
  }
}
