@use "@/shared/styles/theme" as *;
@use "@/shared/styles/variables" as *;

.main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  align-items: stretch; // ЗАМЕНИЛИ start на stretch, чтобы колонки тянулись вниз
  flex-grow: 1; // Заставляет Main занять всю высоту LayoutWrapper
  min-height: 100%; // Гарантирует высоту не меньше экрана
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin: 0;
  padding: 0;

  // each grid elem

  @media (min-width: $breakpoint-1024) {
    grid-template-columns: 1fr #{7 * $column-unit} 1fr;
    grid-template-rows: 1fr;
    
    & > * {
      max-width: #{7 * $column-unit};
    }
  }
}
