@use "@/shared/styles/theme" as *;
@use "@/shared/styles/variables" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  // Убрали min-width: 7 * $column-unit — на мобильных ломал горизонтальный скролл
  
  @media (min-width: $breakpoint-1024) {
    min-width: #{7 * $column-unit}; // Оставляем только для десктопа если нужно
  }
}