@font-face {
  font-family: "Chiron";
  font-weight: 200;
  src: url("./chiron/ChironGoRoundTC-ExtraLight.ttf");
}

@font-face {
  font-family: "Chiron";
  font-weight: 300;
  src: url("./chiron/ChironGoRoundTC-Light.ttf");
}

@font-face {
  font-family: "Chiron";
  font-weight: 400;
  src: url("./chiron/ChironGoRoundTC-Medium.ttf");
}

@font-face {
  font-family: "Chiron";
  font-weight: 500;
  src: url("./chiron/ChironGoRoundTC-Regular.ttf");
}
