@use "@/shared/styles/variables" as *;
@use "@/shared/styles/theme" as *;

.bookingFlow {
  width: 90%;
  max-width: 90%;
  min-width: 20rem;
  overflow: hidden; /* Предотвращает появление горизонтального скролла при анимации выезда */
}

.bookingButton {
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
}

.motionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
