@use "@/shared/styles/variables" as *;
@use "@/shared/styles/theme" as *;

.bookingFlow {
  margin: 2rem 1rem;
  width: fit-content;
  max-width: calc(
    var(--column-unit) * var(--columns-count) * 2 - var(--column-unit)
  );
  overflow: hidden; /* Предотвращает появление горизонтального скролла при анимации выезда */
}

.bookingButton {
  margin: 2rem 0 0 0;
}