@use "@/shared/styles/variables" as *;
@use "@/shared/styles/theme" as *;

.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: $column-unit;
  width: calc($column-unit * $columns-count * 2 - $column-unit);

  @media (max-width: $breakpoint-768) {
    gap: $column-unit-md;
    width: calc($column-unit-md * $columns-count * 2 - $column-unit-md);
  }
}

.navItem {
  width: $column-unit;
  height: $column-unit;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;

  @media (max-width: $breakpoint-768) {
    width: $column-unit-md;
    height: $column-unit-md;
  }
}

.navButton {
  filter: drop-shadow(0 0 2px #ffffff30);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }

  img {
    width: 2.4rem;
    height: 2.4rem;

    @media (max-width: $breakpoint-768) {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
}
