@use "@/shared/styles/theme" as *;

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  list-style: none;
  gap: var(--column-unit);
  width: fit-content;

  @media (min-width: $breakpoint-768) {
    
  }
       
}

.navItem {
  width: var(--column-unit);
  height: var(--column-unit);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
}

.navButton {
  filter: drop-shadow(0 0 2px #ffffff30);
  transition: all 0.2s;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;


  &:hover {
    transform: scale(1.1);
    background-color: transparent;
    border-color: transparent;
  }

  &:active {
    transform: scale(1.1);
    background-color: transparent;
    border-color: transparent;
  } 

  &:focus {
    outline: none;
  }

  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
