@use "@/shared/styles/theme" as *;

.nav {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: var(--column-unit);
  width: calc(var(--column-unit) * var(--columns-count) * 2 - var(--column-unit));
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-768) {
    top: 0;
  }
}

.navItem {
  width: var(--column-unit);
  height: var(--column-unit);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
}

.navButton {
  filter: drop-shadow(0 0 2px #ffffff30);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }

  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
