@use "@/shared/styles/mixins" as *;

.button {
  cursor: pointer;
  @include flex-center;
  background-color: transparent;
  border: none;

  img {
    display: block;
  }
}

.label {
  font-weight: 400;
}
